# editorconfig.org

root = true

[*.{ts,tsx,js,jsx}]
indent_style = space
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{json,*-workspace}]
indent_size = 4
